

body {
  background: linear-gradient(#76CDE6, #9ECA85, #A573A3);
  height: 100vh
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 30px;
 
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#app {
  margin-top: 30vh
}

#AppReact
{margin:auto;

}

.toggler {
   
}

h1{
  text-align:center;
  font-family: 'Roboto Condensed', sans-serif;
}

#setting {
  margin:auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.settingchild {
  margin:auto;
  display:grid;
  grid-template-rows: 1fr 1fr;
}

h2 {
  text-align:center;
  font-family: 'Roboto Condensed', sans-serif;
}

.settingchild3 {
    border-style:solid
}

.display {
  border: none;
  outline: none;
  resize: none;
}

textarea {
  text-align: center;
  font-size: 20px;
  background-color: transparent;
}


#playbutton {
  border:solid;
  margin: auto;
  margin-right: 10vw;
 
 }
 
 #resetbutton {
   border: solid;
   margin: auto;
   margin-left: 10vw;
 }
 
 #controls {
   display: grid;
   grid-template-columns: 1fr 1fr
 }